.container {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    margin-left: 30rem;
}

body {
    background: rgb(105, 152, 237);
    background: linear-gradient(90deg, rgba(105, 152, 237, 1) 0%, rgba(92, 164, 224, 1) 41%, rgba(0, 212, 255, 1) 100%);
}

h2 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    color: white;
}

#score {
    margin-left: 2rem;
    margin-right: 4rem;
}

.head {
    display: flex;
    justify-content: center;
}

.grid {
    width: 200px;
    height: 400px;
    background-color: #EEEEEE;
    padding-top: 1px;
    display: flex;
    border: 1px solid #2ac5ca;
    border-radius: 6px;
    flex-wrap: wrap;
}

.button {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: 550px;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: blue;
    transition-duration: 0.1s;
    cursor: pointer;
    border-radius: 0.2rem;
    box-sizing: border-box;
    border: 0.2px outset white;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    padding: 1rem 0rem 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.8rem;
    background-color: #EEEEEE;
}

.inst {
    position: fixed;
    margin-left: 8rem;
}

p {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: white;
}

.mini-grid div {
    height: 20px;
    width: 20px;
    border-radius: 0.2rem;
}

.next {
    padding-left: 1rem;
}